body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', Segoe UI light, Tahoma, Helvetica, sans-serif;
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
}

body a {
	color: #666
}

#bar {
	display: none;
	background-color: #333;
}

#header {
	max-width: 900px;
	margin: 0px auto;
	height: 95px;
	display: block;
}

#header-title {
	float: left;
}

#header-title h1 {
	line-height: 95px;
	margin: 0px 0px 0px 5px;
	padding: 0px;
	font-weight: 300;
}

#header-title h1 a {
	color: #FFF;
	font-size: 46px;
	text-decoration: none;
}

#header-title h1 a:hover {
	color: #F90;
}

#header-buttons {
	list-style: none;
	float: right;
}

#header-buttons li {
	float: left;
	margin-right: 5px;
}

#header-buttons a {
	height: 70px;
	line-height: 110px;
	width: 95px;
	color: #FFF;
	background-color: #555;
	font-size: 14px;
	text-align: center;
	border: 1px solid #666;
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
}

#header-buttons a:hover {
	color: #FFF;
	background-color: #888;
}

#cursos {
	background: url('../images/file.png') no-repeat center 15px;
}

#favoritas {
	background: url('../images/star.png') no-repeat center 15px;
}

#sobre {
	background: url('../images/info.png') no-repeat center 15px;
}

#sair {
	background: url('../images/logout.png') no-repeat center 15px;
}

#body {
	max-width: 900px;
	margin: 0px auto;
	background-color: #DDD;
}

.input_form {
	display: none;
	padding-bottom: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 610px;
	margin: -130px 0px 0px -305px;
	background-color: white;
	border-radius: 10px;
}

#cursos_input, #cadastrar_cursos_form {
	display: block;
}

#materias_input, #cadastrar_materias_form {
	display: block;
	width: 650px;
}

#materias_input span {
	width: 150px;
}

#materias_input .input_edit  {
	width: 400px;
}

#materias_input p {
	width: 700px;
}

.input_form a {
	color: #0f80de;
	position: absolute;
	bottom: 25px;
	left: 20px;
	font-size: 14px;
	z-index: 1;
}

.input_form p {
	display: none;
	position: absolute;
	bottom: 8px;
	color: #F00;
	width: 610px;
	text-align: center;
	font-size: 16px;
	z-index: 0;
}

.page_sobre {
	display: none;
}

.page_materias {
	display: none;
}

.input_form h1 {
	line-height: 95px;
	margin: 0px 0px 0px 5px;
	padding: 0px;
	font-weight: 300;
	font-size: 40px;
	color: #0f80de;
	text-align: center;
}

.input_form  span {
	color: #424242;
	width: 215px;
	line-height: 32px;
	float: left;
	text-align: right;
	font-weight: 300;
	font-size: 24px;
	margin-top: 10px;
}

.input_edit {
	font-size: 24px;
	margin: 12px 10px 0px 10px;
	padding: 0px;
	height: 32px;
	display: block;
	width: 375px;
	background-color: #fff;
	color: #0f80de;
	outline: none;
	float: left;
	font-weight: 300;
	border-style: none;
}

.submit {
	border-style: none;
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: url('../images/arrow.png') no-repeat;
	height: 48px;
	width: 48px;
	display: block;
}

#register_form, #login_form {
	display: none;
}

/* [+] caio */
.lista p {
	text-align: center;
	font-size: 24px;
	color: #888;
}

.lista ul {
	padding: 0px 0px 5px 0px;
	list-style: none;
	overflow: hidden;
}

.lista li {
	padding: 0px;
	float: left;
	margin: 5px 5px 0px 0px;
}

.lista h2 {
	padding: 2px;
	margin-top: 117px;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.lista a {
	text-decoration: none;
	color: #FFF;
	height: 175px;
	width: 175px;
	display: inline-block;
}

#materias_cursos li:hover {
	box-shadow: 0px 0px 5px #000;
}

/* romulo {  */

#turma_input, #cadastrar_turma_form {
	display: block;
}

.materias_cursos li {
	background: url('../images/si.png') no-repeat center 10px;
}

/* } romulo */

.input_select {
	font-size: 24px;
	margin: 12px 10px 0px 10px;
	padding: 0px;
	height: 32px;
	display: block;
	width: 375px;
	background-color: #fff;
	color: #0f80de;
	outline: none;
	float: left;
	font-weight: 300;
}

#cad_mat_semestre {
	width: 400px;
}

#materias_fav li {
	background-color: #164089;
}

#materias_fav li:hover {
	background-color: #063079;
	box-shadow: 0px 0px 5px #000;
}

#materias_fav h1 {
	text-align: center;
	font-size: 40px;
	line-height: 40px;
}

#materias_fav h2 {
	padding: 2px;
	margin-top: 10px;
}

#materias_fav h3 {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	line-height: 12px;
}

#posts {
	overflow: hidden;
	list-style: none;
	padding: 10px 10px 0px 10px;
	background-color: #f47421;
}

#posts li {
	height: 90px;
	padding: 0px;
	margin-bottom: 10px;
	background: url("../images/post.png") no-repeat white -5px center;
}

#posts a {
	display: block;
	text-decoration: none;
	color: #f47421;
}
#posts li:hover {
	box-shadow: 0px 0px 10px #000;
}

#posts div {
	float: left;
	padding: 10px;
	margin-left: 70px;
	font-size: 36px;
}

#posts span {
	font-size: 12px;
	display: block;
	font-weight: 100;
}

#posts p {
	padding-left: 15px;
	border-left: 1px solid #f47421;
	margin: 10px 15px 0px 0px;
	text-align: center;
	float: right;
	font-weight: 100;
}

#posts strong {
	font-size: 36px;
}

#post {
	color: #FFF;
	font-weight: normal;
	box-shadow: 0px 0px 10px #777;
	background-color: #d4d4d4;
	color: black;
	margin-top: 0px;
	padding: 10px 20px 50px 20px;
}

#post p {
	text-align: justify;
}

#post h1 {
	margin-bottom: 0px;
}

#post span {
	font-size: 12px;
	display: block;
	font-weight: 100;
}

#post label {
	font-size: 24px;
	font-weight: 600;
	display: block;
	margin-top: 20px;
}

#titulo {
	height: 20px;
	width: 400px;
	border: 1px solid #cccccc;
}

.materias_curso {
	font-weight: 400;
	width: 900px;
	border-collapse: collapse;
	margin-bottom: 30px;
}

.materias_curso th {
	font-weight: 100;
	font-size: 24px;
	border: 1px solid #5f98d9;
	border-bottom: 1px solid #131313;
	background-color: #2b76cd;
}

.materias_curso td {
	padding: 5px 10px;
	border-left: 1px solid #cdcdcd;
	border-bottom: 1px solid #131313;
	height: 30px;
	color: #1a1a1a;
	background-color: white;
}

.materias_curso tr {
	border-right: 1px solid #cdcdcd;
}

.materias_curso tr:hover td {
	background-color: #f6f6f6;
}

.materias_curso a {
	color: #1a1a1a;
	text-align: center;
}

.materias_curso a:hover {
	color: #555;
}

.codigo {
	width: 100px;
	text-align: center;
}
/* romulo { */

.fav_button {
	width: 26px;
	height: 26px;
	border: none;
	position: relative;
	top: -8px;
	left: 16px;
}

#favoritar {
	background: url('../images/fav_star_blank.png') no-repeat;
}

#favoritar:hover {
	background: url('../images/fav_star.png') no-repeat;
}

#desfavoritar {
	background: url('../images/fav_star.png') no-repeat;
}

#desfavoritar:hover {
	background: url('../images/unfav_star.png') no-repeat;
}

#back_button {
	background: url('../images/leftarrow.png') no-repeat 8px #1A83DC;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 56px;
	padding-right: 32px;
	line-height: 70px;
	text-decoration: none;
	color: #FFFFFF;
}

#back_button:hover{
	box-shadow: 0px 0px 10px #888;
}

#novo_curso {
	margin-top: 15px;
	padding-left: 40px;
	line-height: 40px;
	display: block;
	width: 100px;
	text-decoration: none;
	height: 40px;
	background: url('../images/plus.png') no-repeat #009f3c 10px center;
	color: white;
}

#nova_turma {
	margin-top: 15px;
	padding-left: 40px;
	line-height: 40px;
	display: block;
	width: 100px;
	text-decoration: none;
	height: 40px;
	background: url('../images/plus.png') no-repeat #009f3c 10px center;
	color: white;
}

#adicionar_materia {
	margin-top: 15px;
	padding-left: 40px;
	line-height: 40px;
	display: block;
	width: 150px;
	text-decoration: none;
	height: 40px;
	background: url('../images/plus.png') no-repeat #009f3c 10px center;
	color: white;
}

#nova_materia {
	margin-top: 15px;
	padding-left: 40px;
	line-height: 40px;
	display: block;
	width: 110px;
	text-decoration: none;
	height: 40px;
	background: url('../images/plus.png') no-repeat #009f3c 10px center;
	color: white;
}

#novo_curso:hover {
	background-color: #008f2c;
	box-shadow: 0px 0px 10px #888;
}

/* } romulo */

#novo_post {
	margin-top: 15px;
	padding-left: 40px;
	line-height: 40px;
	display: block;
	width: 85px;
	text-decoration: none;
	height: 40px;
	background: url('../images/plus.png') no-repeat #009f3c 10px center;
	color: white;
}

#novo_post:hover {
	background-color: #008f2c;
	box-shadow: 0px 0px 10px #888;
}

#postar {
	margin-top: 30px;
	float: right;
	width: 200px;
	height: 90px;
	background: url('../images/postar.png') no-repeat #208ade 10px center;
	border: 1px solid #409aee;
	color: white;
	cursor: pointer;
	font-weight: 300;
	font-size: 30px;
	text-align: right;
	padding: 0px 20px;
}

#postar:hover {
	background-color: #107ace;
}